<h1>Pokemons</h1>
<div>
    <div class='row'>
        {{#each pokemons}}
            <div class='col-sm-6 col-lg-4 gy-3'>
                <div class='card'>
                    <a href='/pokemons/{{this.slug}}'>
                        <img
                            class='card-img-top'
                            src='{{this.image}}'
                            alt='{{this.name}}'
                        />
                    </a>
                    <div class='card-body'>
                        <a href='/pokemons/{{this.slug}}'>
                            <h5 class='card-title'>{{this.name}}</h5>
                        </a>
                        <p class='card-text'>Type: {{this.type}}</p>
                        <p class='card-text'>{{this.description}}</p>
                        <a
                            href='/pokemons/{{this.slug}}'
                            class='btn btn-primary'
                        >More info</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>