<form class="mt-4" name="container-form" method="POST" action="/pokemons/handle-form-operations">
    <div>
        <a href="/user/stored/pokemons">My pokemons</a>
        <h1>Deleted pokemons</h1>

        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form-check-all">
                <label class="form-check-label" for="form-check-all"> Select all </label>
            </div>

            <select class="form-control form-control-sm select-all-options" name="operations" required="true">
                <option value="">---- Operation ----</option>
                <option value="restore">Restore</option>
                <option value="permanentDelete">Delete permanently</option>
            </select>

            <button type="submit" class="btn btn-primary btn-perform disabled">Perform</button>
        </div>
    </div>

    <table class='table'>
        <thead>
            <tr>
                <th scope="col">Select</th>
                <th scope='col'>#</th>
                <th scope='col'>Name</th>
                <th scope='col'>Type</th>
                <th scope='col' colspan='2'>Deleted time</th>
            </tr>
        </thead>
        <tbody>
            {{#each deletedPokemons}}
            <tr>
                <td>
                    <input class="form-check-input item-checkbox" type="checkbox" name="pokemonIds[]"
                        value="{{this._id}}" id="{{this._id}}">
                </td>
                <td scope='row'>{{sum @index 1}}</td>
                <td>{{this.name}}</td>
                <td>{{this.type}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href='' class='btn btn-link restore-btn' data-id="{{this._id}}">Restore</a>
                    <a href='' class='btn btn-link' data-bs-toggle='modal' data-bs-target='#delete-modal'
                        data-bs-id='{{this._id}}'>Delete permanently</a>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan='5' class="text-center">
                    Empty.
                    <a href="/user/stored/pokemons">My pokemons</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{! Delete confirmation }}
<div id='delete-modal' class='modal' tabindex='-1'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Delete pokemon permanently</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                <p>This action can not be undone, are you sure to proceed?</p>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel</button>
                <button id='delete-button' type='button' class='btn btn-danger'>Delete permanently</button>
            </div>
        </div>
    </div>
</div>



{{! Hidden restore form }}
<form id='restore-form' method='POST'></form>

{{! Hidden delete form }}
<form id='delete-form' method='POST'></form>

{{! Handle buttons }}
<script>
    const $ = document.querySelector.bind(document)
    const $$ = document.querySelectorAll.bind(document)

    let pokemonId = ''

    // Handle restore
    const restoreForm = $('#restore-form')
    const restoreButtons = $$('.restore-btn')

    restoreButtons.forEach(button => {
        button.onclick = (e) => {
            e.preventDefault()
            pokemonId = e.target.dataset.id

            restoreForm.action = `/pokemons/${pokemonId}/restore?_method=PATCH`
            restoreForm.submit()
        }
    })

    // Handle modal
    const deleteModal = $('#delete-modal')

    deleteModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        pokemonId = button.getAttribute('data-bs-id')
    })

    // Handle permanent delete
    const deleteForm = $('#delete-form')
    const deleteButton = $('#delete-button')

    deleteButton.onclick = () => {
        deleteForm.action = `/pokemons/${pokemonId}/force?_method=DELETE`
        deleteForm.submit()
    }

    // Handle check all checkbox
    const selectAllCheckbox = $('#form-check-all')
    const itemCheckboxes = $$('.item-checkbox')

    selectAllCheckbox.onchange = (e) => {
        const isAllChecked = e.target.checked

        itemCheckboxes.forEach((checkbox) => {
            checkbox.checked = isAllChecked
        })

        renderCheckAllButton()
    }

    // Handle item checkboxes
    itemCheckboxes.forEach(checkbox => {
        checkbox.onchange = (e) => {
            const isAllChecked = itemCheckboxes.length === $$('input[name="pokemonIds[]"]:checked').length

            selectAllCheckbox.checked = isAllChecked
            renderCheckAllButton()
        }
    })

    // Rerender submit button
    const submitButton = $('.btn-perform')

    function renderCheckAllButton() {
        const checkedBoxesCount = $$('input[name="pokemonIds[]"]:checked').length

        if (checkedBoxesCount)
            submitButton.classList.remove('disabled')
        else
            submitButton.classList.add('disabled')
    }
    renderCheckAllButton()

    // Handle submit button
    const selectAllOptions = $('.select-all-options')

    submitButton.onsubmit = (e) => {
        const operation = selectAllOptions.value

        if (operation) {
            e.preventDefault()
        }
    }
</script>