<div class='mt-4'>
    <div>
        <h1>My pokemons</h1>
        <a href="/user/trash/pokemons">Deleted pokemons ({{deletedCount}})</a>
    </div>

    <table class='table'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Name</th>
                <th scope='col'>Type</th>
                <th scope='col' colspan='2'>Created time</th>
            </tr>
        </thead>
        <tbody>
            {{#each pokemons}}
            <tr>
                <th scope='row'>{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.type}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href='/pokemons/{{this._id}}/edit' class='btn btn-link'>Edit</a>
                    <a href='' class='btn btn-link' data-bs-toggle='modal' data-bs-target='#delete-modal'
                        data-bs-id='{{this._id}}'>Delete</a>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan='5' class="text-center">
                    You don't have any pokemon.
                    <a href='/pokemons/add'>Add a new one</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! Delete confirmation }}
<div id='delete-modal' class='modal' tabindex='-1'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Delete pokemon</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                <p>Are you sure to delete this pokemon?</p>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel</button>
                <button id='delete-button' type='button' class='btn btn-primary'>Delete</button>
            </div>
        </div>
    </div>
</div>

{{! Hidden delete form }}
<form id='delete-form' method='POST'></form>

{{!-- Handle buttons --}}
<script>
    const $ = document.querySelector.bind(document)

    const deleteModal = $('#delete-modal')
    const deleteForm = $('#delete-form')
    const deleteButton = $('#delete-button')
    let pokemonId = ''

    deleteModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        pokemonId = button.getAttribute('data-bs-id')
    })

    deleteButton.onclick = () => {
        deleteForm.action = `/pokemons/${pokemonId}?_method=DELETE`
        deleteForm.submit()
    }
</script>